body{
    background-size: cover;
    background-image: url("./jpg/bg2.jpg");
}

p {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(31, 31, 31);
}
h1{
    text-align: center;
    color: white;
}


.daftarsewa{
    display: flex;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 9px;

 }

 th,td {
   text-align: center;
   padding: 16px;
   
}

th {
    background-color: rgb(59, 59, 59);
    color: white;
    
}
  