body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./jpg/bg2.jpg");
}
#form{
    padding: 16px;
    background-color: white;
    border-radius: 9px;
    font-size: 16px;
    width: 85%;
    margin-left: 40px;
    color: none;

}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    background-color: none;
    border: none;
    color: none;
    border-bottom: 2px solid black;
    
  }

.informasi input{
    width: 90%;
}

.informasi { 
    padding: 16px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.waktu{
    margin-bottom: 20px;
    width: 86%;
    padding: 16px;
    border-radius: 20px;
}

.alat{
    margin-bottom: 20px;
    width: 86%;
    padding: 16px;
    border-radius: 20px;
}


.alat button{
  
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    background-color: white; 
    cursor: pointer;
    color: black; 
    border: 2px solid rgb(46, 44, 44);
    border-radius: 12px;
   
}
.alat button:hover{
    background-color: rgb(36, 36, 36);
    color: white;}
 
#sumbit {

    background-color: rgb(44, 44, 44); 
    border: none;
    padding: 16px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
    color: black; 
    border-radius: 12px;
    margin-left: 250px;
    background-color: white; 
    border: 2px solid rgb(46, 44, 44);
    border-radius: 12px;
    
  }
  #sumbit:hover {
    background-color: rgb(36, 36, 36);
    color: white;}
  
h1{
    text-align: center;
    color: white;
    padding: 50px;
}