
.column {
  float: left;
  width: 25%;

}
h1{
  text-align: center;
}

body{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./jpg/bg2.jpg);

}


.card   {
  position: relative;
  color: black;
  padding: 9px;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
}
img{
  border-radius: 20px;
  border: 2px solid white;
  width: 80%;
}
h1{
  color: white;
}